body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    overscroll-behavior: contain;
    touch-action: none;
}

body {
    margin-left: 15vh;
    margin-right: 15vh;
    user-select: none; /* Prevents text from being highlighted */
    -webkit-user-select: none;
    -ms-user-select: none;
}

#prompt-box {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
    overflow: hidden;
}

#todays-theme {
    text-transform: uppercase;
    background-color: lightblue;
    font-size: 1em;
}

#prompt {
    font-size: 1.25em;
    font-weight: bold;
    padding: 2.5%;
}

#message {
    font-size: 1.25em;
    margin-bottom: 1em;
    display: hidden;
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1.5vw;
    user-select: none;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 75vw;
    font-size: 1.5em;
}

.cell {
    border-radius: 100%;
    padding-left: auto;
    padding-right: auto;
}

.selected {
    background-color: lightblue;
}