body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    overscroll-behavior: contain;
    touch-action: none;
}

body {
    margin-left: 15vh;
    margin-right: 15vh;
    user-select: none; /* Prevents text from being highlighted */
    -webkit-user-select: none;
    -ms-user-select: none;
}

#prompt-box {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
    overflow: hidden;
}

#todays-theme {
    text-transform: uppercase;
    background-color: lightblue;
    font-size: 1em;
}

#prompt {
    font-size: 1.25em;
    font-weight: bold;
    padding: 2.5%;
}

#message {
    font-size: 1.25em;
    margin-bottom: 1em;
    display: hidden;
}

#grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 4vw;
    user-select: none;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 65vw;
    font-size: 1.5em;
}

.cell {
    aspect-ratio: 1 / 1;
    width: 7vw;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    z-index: 2;
}

.selected {
    background-color: moccasin;
}

.confirmed {
    background-color: lightblue;
}

.spangram {
    background-color: gold;
}

#line-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#line-layer line:not(.confirmed-line):not(.spangram-line) {
    stroke: moccasin; 
    stroke-width: 15;
}

#line-layer line.confirmed-line {
    stroke: lightblue; 
    stroke-width: 15;
}

#line-layer line.spangram-line {
    stroke: gold;
    stroke-width: 15;
}