body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5vh;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 50);
    grid-template-rows: repeat(5, 50);
    margin: auto;
    position: relative;
    width: 200px;
    height: 200px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    border: 2px solid gray;
    border-radius: 8px;
}

#current-word {
    font-size: 28px;
    margin-bottom: 20px;
}